
  <!--DO NOT REMOVE-->
  {{ patternLabFoot | raw }}

  <!-- Custom JS -->
  <script src="../../../../vendor/slick-carousel/slick.js?{{ cacheBuster }}"></script>
  <script src="../../../../js/script.js?{{ cacheBuster }}"></script>
  </body>
</html>
