{% extends "@templates/one-column.twig" %}
{% block content %}
  <h1>Theming header</h1>
  <div class="video_embeb">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/jLlXR-ONyy8?controls=1&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
  </div>
  <p>Move header region outside main container</p>
  <p>Create wrap header region with class container</p>
  <p>Create some style for header</p>
{% endblock %}
