<ul class="sg-colors">
	{% for item in colors %}
    <li>
      <span class="sg-swatch" style="background: {{ item.hex_color_code }};"></span>
			<span class="sg-label">{{ item.hex_color_code }}</span>
		</li>
   {% endfor %}
</ul>
