{% extends "@templates/one-column.twig" %}
{% block content %}
  <h1>Creating Partials</h1>
  <div class="video_embeb">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/RJrGumCYB_Y?controls=1&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
  </div>
  <p>Create folder named partials</p>
  <p>Create header.twig file with header markup</p>
  <p>Include header.twig file to all page template file</p>
{% endblock %}
