{% extends "@templates/one-column.twig" %}
{% block content %}
  <p>Create some items on main navigation</p>
  <p>Create new region with named main_navigation</p>
  <p>Put main navigation block to main navigation region</p>
  <p>Create some style for navigation menu</p>
{% endblock %}
